<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Show Managers</title>
</head>

<body>

<div class="container">

    <h3>Managers</h3>


    <div >

        <table sec:authorize="hasAnyRole('ROLE_ADMIN')" class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Managers</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="tempManager : ${managers}">

                <td th:text="${tempManager}" />

            </tr>

            </tbody>
        </table>

    </div>


    <a th:href="@{/employees/list}">Back to list</a>

</div>
</body>

</html>